$c1 : #ffc6c6;
$f1 : 'Russo One', sans-serif;
$f2 : 'Alata', sans-serif;
$f3 : 'Alegreya Sans', sans-serif;
$f4 : 'Teko', sans-serif;


// $f2 : 'Lato', sans-serif;
// $f3 : 'Josefin Sans', sans-serif;